* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  background: rgb(247, 82, 6);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 700px;
}
.section {
  border: 1px solid #000;
  border-radius: 2px;
  padding: 10px 20px;
  position: relative;
}
.title {
  position: absolute;
  top: 0%;
  transform: translateY(-50%);
  background: rgb(247, 82, 6);
  padding: 0 10px;
}
.line {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.right input,
.left input {
  padding: 5px;
  width: 50px;
}

.icon {
  width: 23px;
  user-select: none;
}
.action {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 10px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background: rgb(185, 185, 185);
  padding: 5px 20px;
  outline: none;
  font-weight: 600;
  border: 2px solid #000;
}
button:focus {
  outline: none;
}
.section2 .line {
}
.line-left {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.line-right {
  flex: 6;
}
#section2 .line input {
  padding: 5px;
}
.w-100 {
  width: 100%;
}
.right-t-el {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.right-t-el input {
  padding: 3px;
  width: 100%;
}
.right-t-el > div {
  flex: 1;
}
